In [37]:
import requests
import pandas as pd

# Definición de los parametros a emplear para extraer los datos.
params = {
    'dataset': 'daily-summaries',
    'startDate': '1957-06-30', # Periodo - Inicio
    'endDate': '2024-07-02', # Periodo - final
    'stations': 'AR000087418',  # Mendoza Aereo
    'format': 'json',
    'includeStationName': 'true',
}

# 
url = "https://www.ncei.noaa.gov/access/services/data/v1"

response=requests.get(url,params=params)

if response.status_code==200:
    info=response.json()
else:
    print(f"Estatus data 1:-> {response.status_code}")

data=pd.DataFrame(info)

data

,DATE,STATION,TAVG,NAME,TMIN,TMAX,PRCP,SNWD
0,1957-06-30,AR000087418,28,"MENDOZA AERO, AR",NaN,NaN,NaN,NaN
1,1957-07-01,AR000087418,35,"MENDOZA AERO, AR",NaN,NaN,NaN,NaN
2,1957-07-02,AR000087418,47,"MENDOZA AERO, AR",NaN,NaN,NaN,NaN
3,1957-07-03,AR000087418,61,"MENDOZA AERO, AR",NaN,NaN,NaN,NaN
4,1957-07-04,AR000087418,73,"MENDOZA AERO, AR",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
24137,2024-06-28,AR000087418,90,"MENDOZA AERO, AR",13,150,NaN,NaN
24138,2024-06-29,AR000087418,54,"MENDOZA AERO, AR",-20,NaN,NaN,NaN
24139,2024-06-30,AR000087418,68,"MENDOZA AERO, AR",NaN,NaN,NaN,NaN
24140,2024-07-01,AR000087418,99,"MENDOZA AERO, AR",-16,NaN,NaN,NaN
24141,2024-07-02,AR000087418,94,"MENDOZA AERO, AR",9,NaN,NaN,NaN

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24142 entries, 0 to 24141
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     24142 non-null  object
 1   STATION  24142 non-null  object
 2   TAVG     19786 non-null  object
 3   NAME     24142 non-null  object
 4   TMIN     22535 non-null  object
 5   TMAX     19113 non-null  object
 6   PRCP     9394 non-null   object
 7   SNWD     5 non-null      object
dtypes: object(8)
memory usage: 1.5+ MB

In [39]:
data['DATE'] = pd.to_datetime(data['DATE'])

numeric_columns = ['TAVG', 'TMIN', 'TMAX', 'PRCP', 'SNWD']
for i in numeric_columns:
    data[i] = data[i].map(lambda x: (float(x)/10))

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24142 entries, 0 to 24141
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     24142 non-null  datetime64[ns]
 1   STATION  24142 non-null  object
 2   TAVG     19786 non-null  float64
 3   NAME     24142 non-null  object
 4   TMIN     22535 non-null  float64
 5   TMAX     19113 non-null  float64
 6   PRCP     9394 non-null   float64
 7   SNWD     5 non-null      float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 1.5+ MB

In [40]:
data

            DATE      STATION  TAVG              NAME  TMIN  TMAX  PRCP  SNWD
0     1957-06-30  AR000087418   2.8  MENDOZA AERO, AR   NaN   NaN   NaN   NaN
1     1957-07-01  AR000087418   3.5  MENDOZA AERO, AR   NaN   NaN   NaN   NaN
2     1957-07-02  AR000087418   4.7  MENDOZA AERO, AR   NaN   NaN   NaN   NaN
3     1957-07-03  AR000087418   6.1  MENDOZA AERO, AR   NaN   NaN   NaN   NaN
4     1957-07-04  AR000087418   7.3  MENDOZA AERO, AR   NaN   NaN   NaN   NaN
...          ...          ...   ...               ...   ...   ...   ...   ...
24137 2024-06-28  AR000087418   9.0  MENDOZA AERO, AR   1.3  15.0   NaN   NaN
24138 2024-06-29  AR000087418   5.4  MENDOZA AERO, AR  -2.0   NaN   NaN   NaN
24139 2024-06-30  AR000087418   6.8  MENDOZA AERO, AR   NaN   NaN   NaN   NaN
24140 2024-07-01  AR000087418   9.9  MENDOZA AERO, AR  -1.6   NaN   NaN   NaN
24141 2024-07-02  AR000087418   9.4  MENDOZA AERO, AR   0.9   NaN   NaN   NaN

[24142 rows x 8 columns]