In [4]:
import requests
import pandas as pd

# Definición de los parametros a emplear para extraer los datos.
params = {
    'dataset': 'daily-summaries',
    'startDate': '1957-06-30', # Periodo - Inicio
    'endDate': '2024-07-02', # Periodo - final
    'stations': 'ARM00087420',  # Mendoza Aereo
    'format': 'json',
    'includeStationName': 'true',
}

# 
url = "https://www.ncei.noaa.gov/access/services/data/v1"

response=requests.get(url,params=params)

if response.status_code==200:
    info=response.json()
else:
    print(f"Estatus data 1:-> {response.status_code}")

data=pd.DataFrame(info)

data

,DATE,STATION,TAVG,NAME,TMIN,TMAX,PRCP,SNWD
0,1973-01-01,ARM00087420,283,"MENDOZA OBSERVATORIO, AR",NaN,NaN,NaN,NaN
1,1973-01-04,ARM00087420,293,"MENDOZA OBSERVATORIO, AR",NaN,NaN,NaN,NaN
2,1973-01-05,ARM00087420,257,"MENDOZA OBSERVATORIO, AR",220,NaN,NaN,NaN
3,1973-01-07,ARM00087420,257,"MENDOZA OBSERVATORIO, AR",210,NaN,NaN,NaN
4,1973-01-12,ARM00087420,262,"MENDOZA OBSERVATORIO, AR",240,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1908,2024-06-28,ARM00087420,82,"MENDOZA OBSERVATORIO, AR",10,NaN,NaN,NaN
1909,2024-06-29,ARM00087420,62,"MENDOZA OBSERVATORIO, AR",2,NaN,NaN,NaN
1910,2024-06-30,ARM00087420,80,"MENDOZA OBSERVATORIO, AR",-16,NaN,NaN,NaN
1911,2024-07-01,ARM00087420,108,"MENDOZA OBSERVATORIO, AR",16,NaN,NaN,NaN
1912,2024-07-02,ARM00087420,117,"MENDOZA OBSERVATORIO, AR",32,NaN,NaN,NaN

In [ ]:
data.info()

: